[package]
name = "tests-trybuild"
version = "0.1.0"
edition = "2021"

[dependencies]
riscv = { path = "../riscv" }
riscv-rt = { path = "../riscv-rt", features = ["no-exceptions", "no-interrupts", "post-init"] }
trybuild = "1.0"

[features]
v-trap = ["riscv-rt/v-trap"]
