[package]
name = "riscv-rt"
version = "0.4.0"
repository = "https://github.com/rust-embedded/riscv-rt"
authors = ["David Craven <david@craven.ch>"]
categories = ["embedded", "no-std"]
description = "Minimal runtime / startup for RISC-V CPU's"
keywords = ["riscv", "runtime", "startup"]
license = "ISC"

[dependencies]
r0 = "0.2.2"
riscv = "0.4.0"

[features]
const-fn = ["riscv/const-fn"]
inline-asm = ["riscv/inline-asm"]
