[package]
name = "riscv-rt"
version = "0.5.0"
repository = "https://github.com/rust-embedded/riscv-rt"
authors = ["The RISC-V Team <risc-v@teams.rust-embedded.org>"]
categories = ["embedded", "no-std"]
description = "Minimal runtime / startup for RISC-V CPU's"
keywords = ["riscv", "runtime", "startup"]
license = "ISC"

[dependencies]
r0 = "0.2.2"
riscv = "0.5.1"
riscv-rt-macros = { path = "macros", version = "0.1.5" }

[features]
inline-asm = ["riscv/inline-asm"]
